* {
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 218, 241);
}

#logo {
  width: 90px;
  height: 100%;
  float: left;
  margin-right: 50%px;
}

.container {
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: rgb(190, 226, 238);
  height: 90px;
}
#button {
  margin: 10px;
  background-color: rgb(250, 245, 245);
  font: 20px bold;
}
li {
  list-style-type: none;
}
.accueil li {
  display: inline;
  text-align: center;
  padding-inline: 60px;
}
.connexion {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  font: 20px bold;
  padding-top: 5%;
}
.item1 {
  grid-column: 1 / span 3;
}
table img {
  width: 40px;
  height: 40px;
}
table {
  border: 3px solid black;
  width: 90%;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
}
.centre {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-left: 2%;
  margin-top: 10%;
}
.fluxreseaux {
  border: 1px solid;
  height: 500px;
  width: 250px;
  overflow-y: scroll;
  background-color: rgb(243, 233, 233);
  margin-top: 10%;
}
footer {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: cornsilk;
  text-align: center;
  margin-top: 10%;
 
}
footer img {
  width: 30px;
  height: 20px;
}
footer a {
  color: dodgerblue;
}
.reseaux {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.texte {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.texte div {
  margin-top: 1%;
}
.titredulivre img {
  float: left;
  padding-right: 10px;
  padding-left: 5px;
  width: 50px;
}
.titredulivre {
  line-height: 44px;
}
.pointreglement {
  border: 1px solid;
  height: 200px;
  overflow-y: scroll;
  width: 90%;
  background-color: rgb(156, 143, 143);
}
h2 {
  text-align: center;
}
select {
  height: 30px;
  background-color: rgb(156, 143, 143);
}
a:hover {
  color: rgb(194, 12, 12);
}
#button:hover {
  background-color: darkgoldenrod;
}
.ligne1, .ligne3{
  background-color: rgb(240, 226, 226);
}

th {
  background-color: darkkhaki;
  height: 45px;
}
.historique {
  display: grid;
  grid-template-columns: auto auto;
}
#msg {
  color: red;
}
@media screen and (max-width: 700px) {
  body {
    background-color: rgb(180, 103, 103);
  }
  #contenu {
    padding-bottom: 80px;
  }
  .container {
    display: block;
    padding-bottom: 20px;
  }
  .connexion {
    display: block;
  }
  .accueil {
    display: block;
  }
  .accueil ul {
    margin-left: 10%;
  }
  .accueil img {
    margin-left: 20%;
  }
  h3 {
    display: block;
  }
  .footer {
    display: block;
  }
  .pointreglement {
    display: none;
  }
  .centre {
    display: block;
    padding-top: 10%;
  }
  
  .palmares {
    display: block;
  }
  .historique {
    display: block;
    padding-top: 20%;
  }
  .historique h3 {
    display: none;
  }
  footer > div {
    display: block;
  }
  footer,
  .reseaux,
  .texte {
    display: block;
  }
  .titre2 {
    display: none;
  }
}
.fluxreseaux h3 {
  text-align: center;
  text-decoration: underline;
}
.animation{
  margin-top: 5%;
}
.animation,img{
  width: 80%;
  height: 250px;
  margin-left: 5%;
}
.animation h2{
 
  font: italic bold  50px Georgia, serif;
}