* {
    box-sizing: border-box;
  }
  
body {
    background-color: rgb(210, 218, 241);
    
  }
  
  #logo {
    width: 90px;
    height: 100%;
    float: left;
    margin-right: 50%px;
  }
  
.container {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: rgb(190, 226, 238);
    height: 90px;
  }
#button {
    margin: 10px;
    background-color: rgb(250, 245, 245);
    font: 20px bold;
  }
  
li {
    list-style-type: none;
  }
.accueil li {
    display: inline;
    text-align: center;
    padding-inline: 60px
  }
  
.connexion {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    font: 20px bold;
    padding-top: 5%;
  }
  .item1 {
    grid-column: 1 / span 3;
  }

  
footer {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: cornsilk;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
  
  footer img {
    width: 30px;
    height: 20px;
  }
  footer a{
    color:dodgerblue
  }
  .reseaux {
    display: grid;
    grid-template-columns: 33% 33% 34%;
  }
  .texte {
    display: grid;
    grid-template-columns: 33% 33% 34%;
  }
  .texte div {
    margin-top: 1%;
  }
table {
    border: 3px solid black;
    width: 75%;
    border-collapse: collapse;
    margin: 5%;
  }
table,
  td,
  th {
    border: 1px solid black;
    text-align: center;
  }
td, th{
    height: 35px;
}
table{
    border: 3px solid 
}
th{
    background-color: burlywood;
}
.note{
    display: grid;
    grid-template-columns: auto auto;
}
h3{
  margin-left : 25%;
  font: 30px bold;
  border: 2px solid;
  width: 30%;
text-align: center;
