* {
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 218, 241);
}

.connexion > *:hover {
  background-color: rgb(201, 200, 187);
}

#logo {
  width: 90px;
  height: 100%;
  float: left;
  margin-right: 50%px;
}
footer {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: cornsilk;
  text-align: center;
  margin-top: 10%;
  width: 100%;
}

footer img {
  width: 30px;
  height: 20px;
}
footer a {
  color: dodgerblue;
}
.reseaux {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.texte {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.texte div {
  margin-top: 1%;
}

.container {
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: rgb(190, 226, 238);
  height: 90px;
}
#button {
  margin: 10px;
  background-color: rgb(250, 245, 245);
  font: 20px bold;
}

li {
  list-style-type: none;
}
.accueil li {
  display: inline;
  text-align: center;
  padding-inline: 60px;
}

.connexion {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  font: 20px bold;
  padding-top: 5%;
}
.item1 {
  grid-column: 1 / span 3;
}
#container div {
  display: flex;
  margin-top: 5%;
  padding: 40px;
}
#container > div > div {
  display: block;
  padding-inline: 80px;
  text-align: center;
}
h3 {
  text-decoration: underline;
  color: green;
}

img {
  width: 250px;
  height: 450px;
}

footer img {
  width: 30px;
  height: 20px;
}
footer a {
  color: dodgerblue;
}
.reseaux {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.texte {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.texte div {
  margin-top: 1%;
}
a:hover {
  color: rgb(194, 12, 12);
}
#button:hover {
  background-color: darkgoldenrod;
}
